<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
    <title>CRUD</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">PRODUCTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/categorias">CATEGORIAS</a>
              </li>                     
            </ul>
            
          </div>
        </div>
      </nav>

      <div style="width:600px" class="container mt-4"  >
     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Registro de Producto</div>
                <div class="card-body">
                  <form action="/save" method="POST">
                      <div class="mb-3">
                      <label for="producto" class="form-label">Nombre de Producto</label>
                      <input type="text" class="form-control" id="producto" name="producto" tabindex="1" required="required">
                      </div>   
                      <div class="mb-3">
                        <label for="producto" class="form-label">Categoria</label>
                        <select name="categoria" id="categoria" tabindex="2" class="form-control" required="required">
                          <% for (var i = 0; i < data.length; i++) { -%>
                            
                            <option value="<%= data[i].id %>">
                              <%= data[i].categoria %>
                            </option>

                          <% } -%>
                        </select>
                        </div>  
                        <div class="mb-3">
                          <label for="producto" class="form-label">Precio</label>
                          <input type="number" class="form-control" id="precio" name="precio" tabindex="3" required="required">
                          </div>  
                          <div class="mb-3">
                            <label for="producto" class="form-label">Unidades Disponibles</label>
                            <input type="number" class="form-control" id="disponibles" name="disponibles" tabindex="4" required="required">
                            </div>  
                       
                      
                                 <button style="margin-top: 4px;" type="submit" class="btn btn-success" tabindex="5">Guardar</button>
                        <a style="margin-top: 4px; background-color: #DF0101; color: white;" href="/" class="btn btn-primary=">Cancelar</a>
                    </form>
                        
                </div>
               
            </div>        
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>