<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
    <title>CRUD</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">        
    <nav class="navbar navbar-dark">  
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">PRODUCTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/categorias">CATEGORIAS</a>
              </li>                     
            </ul>
            
          </div>
        </div>
      </nav>

      <% if (data) { %>
        <div style="width: 600px;" class="container mt-4">
            
            <div class="card border-secondary">  
                  <div class="card-header">Editar Categoria</div>
                  <div class="card-body">
                      <form action="/update-category" method="POST">
                          <input id="id" name="id" value="<%= data.id %>" hidden>
                          <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre de la categoría</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required="required" tabindex="1" value="<%= data.categoria  %>">                        
                          </div>   
                          <div class="mb-3">
                            <label for="desc" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="desc" name="desc" required="required" tabindex="2" value="<%= data.descripcion  %>">   
                          </div>
                          <button type="submit" class="btn btn-success" tabindex="5">Actualizar</button>
                          <a style="background-color: #DF0101;" href="/categorias" class="btn btn-secondary">Cancelar</a>
                      </form>
         
                  </div>
              </div>     
        </div>
        <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>